*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper{
    max-height: 80%;
    border: 1px solid #ddd;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}
.wrapper::-webkit-scrollbar{
    width: 0;
}
.wrapper .item{
    min-width: 500px;
    height: 500px;
    /* line-height: 110px; */
    text-align: center;
    background-color: #ddd;
    margin-right: 2px;
}
.item .content{
    background: #b97d7d;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}